<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>

<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/clouddb</property>
	    <property name="hibernate.connection.username">dreamsol_cloud</property>
	    <property name="hibernate.connection.password">dreamsol_cloud</property>
		<property name="dialect"> org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
	    <property name="hibernate.current_session_context_class">thread</property>
	    <property name="hibernate.connection.release_mode">after_transaction</property>
	    <property name="hibernate.transaction.auto_close_session">true</property>
	    <property name="hibernate.jdbc.batch_size">50</property>
         <property name="hibernate.show_sql">false</property>
        <property name="hibernate.use_sql_comments">false</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.connection.release_mode">auto</property>
        <property name="hibernate.connection.characterEncoding">UTF-8</property>
        
        <!-- c3p0 propertyes -->
        <property name="hibernate.c3p0.validate">true</property>
        <property name="hibernate.connection.provider_class">org.hibernate.service.jdbc.connections.internal.C3P0ConnectionProvider</property>
        <property name="hibernate.c3p0.min_size">0</property>
        <property name="hibernate.c3p0.max_size">1000</property>
        <property name="hibernate.c3p0.timeout">10</property>
        <property name="hibernate.c3p0.max_statements">50</property>
        <property name="hibernate.c3p0.idle_test_period">300</property>
        <property name="hibernate.c3p0.acquireRetryAttempts">30</property>
        <property name="hibernate.c3p0.acquireIncrement">5</property>
     
   <property name="hibernate.cache.use_second_level_cache">true</property>
   <property name="hibernate.cache.use_structured_entries">true</property>
   <property name="hibernate.cache.provider_class ">org.hibernate.cache.EhCacheProvider</property>
	  		<mapping class="com.Over2Cloud.modal.db.signup.Registation"/>
	  		<mapping class="com.Over2Cloud.modal.db.commom.Smtp"/>
	  		<mapping class="com.Over2Cloud.modal.db.signup.ProductRegistation"/>
	  		<mapping class="com.Over2Cloud.modal.db.signup.ClientUserAccount"/>
	  		<mapping class="com.Over2Cloud.modal.db.Setting.UserChunkMapping"/>
	  		<mapping class="com.Over2Cloud.modal.db.Setting.ApplicationSetting"/>
	  		<mapping class="com.Over2Cloud.modal.db.Setting.ClientDbServer"/>
	  		<mapping class="com.Over2Cloud.modal.db.Setting.ChunkClientDb"/>
	  		<mapping class="com.Over2Cloud.modal.db.signup.SignupMailProcess"/>
	  		<mapping class="com.Over2Cloud.modal.db.signup.JobFunctionalArea"/>
	  		<mapping class="com.Over2Cloud.modal.db.commom.Requestgeneration"/>
	  		<mapping class="com.Over2Cloud.modal.db.Setting.PackConfiguration"/>
	  		<mapping class="com.Over2Cloud.modal.db.Setting.DemoClientSpace"/>
	  		<!-- For Image of App -->
	  		<mapping class="com.Over2Cloud.ctrl.organization.Avatar"/>
  		 
</session-factory>
</hibernate-configuration>